body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header,
footer {
  background-color: green;
  height: 15vh;
  color: white;
}

main {
  /* min-height: 70vh; */
  min-height: calc(100vh - 150px);
  background-color: hotpink;
  color: blue;
}

a {
  color: orange;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  display: inline-block;
  margin: 1rem;
}
